In [37]:
import pandas as pd
import re

In [7]:
path='../resource/OData/'
file_name='Contacts_001'
csv=pd.read_csv(path+file_name+'.csv')

In [24]:
csv['Sales Person'].isnull

<bound method Series.isnull of 0                   NaN
1           Karn Sharma
2                   NaN
3           Arun Sharma
4                   NaN
             ...
4140     Mahesh Gulwani
4141     Mahesh Gulwani
4142    Neelabh Kashyap
4143     Mahesh Gulwani
4144     Mahesh Gulwani
Name: Sales Person, Length: 4145, dtype: object>

In [27]:
csv['Full Name']

0          Suresh Mohan
1           Satya Sinha
2         Vivek K Rahul
3        Abhishek Nandy
4       Sreejoy Patnaik
             ...
4140     Hiral Raimagia
4141    Vijay Vanpariya
4142      Mayur Bhavsar
4143       Talib sheikh
4144        Murali Nair
Name: Full Name, Length: 4145, dtype: object

In [32]:
for row in csv['Full Name']:
    if row.isascii()==False:
        print(row)

김영국 -
#윤정훈 -
#최연희 -
팩토리24 대표님
앤비휘트니스
#심승용 -
#김성태 -
인준 차
박현진 -
#서범석 -
#최태준 -
#장정화 -
김도성 인바디 -
#황보람 -
#한기용 -
#한기용 -
#黃承繹 -
#이승국 -
#박재성 -
#걸구네 -
#박혜조 -
#김주환 -
#김선하 -
임현미 -
#임정훈 -
Golds Gym ,East of kailash, Delhi
F2 FUN & FITNESS INDIA PVT. LTD., (GOLD’S GYM INDIA)
고영찬 -
#김기대 -
안종성 -
#이인 -
#장진영 -
#윤용희 -
도성1
도성
정윤서 -
Dr.Bhavsar's Cosmetic Clinic
F2 & FITNESS INDIA PVT. LTD., (GOLD’S GYM INDIA)
Ozone ‘n’ Spa
SHANTI’S & FITNESS CLUB LLP
#박지훈 -
#장민홍 -
#김승욱 -
#김재철 -
#임성식 -
#안영진 -
#고준석 -
#이승은 -
#김규식 -
#권평오 -
#박현성 -
#최영수 -
#박영필 -
#최은희 -
#Jejung Jun 전제정 -
#김현재 -
#양희성 -
#서인우 -
#유지수 -
#정종욱 -
#이규엽 -
#전세준 -
#윤정원 -
#차현태 -
#김우진 -
#김민선 -
#임성균 -
#차영민 -
#오형준 -
#이재훈 -
#정근식 -
#김봉석 -
#예승해 -
#송인옥 -
#민지윤 -
#민지윤 -
#홍지명 -

In [63]:
for i in range(len(csv['Full Name'])):
    hangul=re.compile('[ㄱ-ㅎ|가-힣]+')
    name=hangul.findall(csv['Full Name'][i]) 
    if len(name)!=0:
        csv=csv.drop(i)

In [65]:
csv['Full Name']

0          Suresh Mohan
1           Satya Sinha
2         Vivek K Rahul
3        Abhishek Nandy
4       Sreejoy Patnaik
             ...
4140     Hiral Raimagia
4141    Vijay Vanpariya
4142      Mayur Bhavsar
4143       Talib sheikh
4144        Murali Nair
Name: Full Name, Length: 4075, dtype: object

In [66]:
#한국말 있는지 확인
korean=[]
for row in csv['Full Name']:
    hangul=re.compile('[ㄱ-ㅎ|가-힣]+')
    #print(hangul.findall(row))
    name=hangul.findall(row)
    if len(name)!=0:
        korean.append(name)
korean

[]

In [ ]:
#1.sales man이 NaN값인 row를 찾는다.

#2.Customer Owner ID값을 통해 빈값을 채워 넣는다.(Customer Owner ID:"Sales Person"으로의 dict생성필요)
#.territory값이 None값인 row를 찾는다.