In [62]:
import pandas as pd
import re

In [63]:
path='../resource/CleansedData/ParsedData/'
file_name='Accounts_001_droppedCol'
csv=pd.read_csv(path+file_name+'.csv')
save_as='../resource/CleansedData/ModifiedData/Accounts_001_droppedCol_deleted_korean.csv'

In [64]:
people=set()
for person in csv['Sales Person']:
        people.add(str(person))

In [73]:
csv.count()

Record Id             7132
Company Owner ID      7132
Sales Person          1625
Rating                6898
Company Name          7132
Company Type           257
Industry              2669
Sub industry           108
Territories           3961
Shipping Street       1264
Shipping City         1191
Shipping State           1
Shipping State-       1189
Shipping Code         1036
Billing Street        3854
Billing City          4943
Billing State          421
Billing State-        4192
Billing Code          2187
Description           1342
Custmer ID               5
Product               5410
Tag                      4
Created by ID         7132
Modified by ID        7132
Created Time          7132
Modified Time         7132
Last Activity Time    6828
dtype: int64

In [65]:
print(people)

{'Nihal Pawar', 'Mohammad Afnan', 'Gurraj Singh', 'Abhinanda Ghosh', 'Kenneth Cha', 'Mahesh Gulwani', 'nan', 'Ashwini Dixit', 'Nasir', 'Mrunal Sardar', 'Neelabh Kashyap', 'Anees Mukhtar', 'Aaruni Sinha', 'Ankita', 'Puneet Shukla', 'Taukheer Ahmed', 'Karn Sharma', 'Chris Shin', 'Arun Sharma', 'Dixiata Sharma', 'CS/Amazon/Other', 'Ayan', 'Prasad Gosavi', 'Shubham Tonk'}

In [66]:
mapping=dict()

for person in people:
    mapping[person]=set()

In [67]:
print(mapping)

{'Nihal Pawar': set(), 'Mohammad Afnan': set(), 'Gurraj Singh': set(), 'Abhinanda Ghosh': set(), 'Kenneth Cha': set(), 'Mahesh Gulwani': set(), 'nan': set(), 'Ashwini Dixit': set(), 'Nasir': set(), 'Mrunal Sardar': set(), 'Neelabh Kashyap': set(), 'Anees Mukhtar': set(), 'Aaruni Sinha': set(), 'Ankita': set(), 'Puneet Shukla': set(), 'Taukheer Ahmed': set(), 'Karn Sharma': set(), 'Chris Shin': set(), 'Arun Sharma': set(), 'Dixiata Sharma': set(), 'CS/Amazon/Other': set(), 'Ayan': set(), 'Prasad Gosavi': set(), 'Shubham Tonk': set()}

In [68]:
for i in range(len(csv['Sales Person'])):
    if csv['Sales Person'][i] in people:
        mapping[csv['Sales Person'][i]].add(csv['Territories'][i])

'''
for sales in csv['Sales Person']:
    for person in people:
        if sales == person:
'''

"\nfor sales in csv['Sales Person']:\n    for person in people:\n        if sales == person:\n"

In [69]:
print(mapping)

{'Nihal Pawar': {nan, 'East', 'South', 'West 1'}, 'Mohammad Afnan': {'West 1'}, 'Gurraj Singh': {'West 1'}, 'Abhinanda Ghosh': {'West 1'}, 'Kenneth Cha': {'North', 'South', 'West 1'}, 'Mahesh Gulwani': {nan, 'West 1', 'West 2', 'North', 'East', 'North, West 1', 'North, West 2'}, 'nan': set(), 'Ashwini Dixit': {nan, 'West 2', 'West 1', 'North', 'East'}, 'Nasir': {nan, 'East'}, 'Mrunal Sardar': {'North', 'West 1'}, 'Neelabh Kashyap': {'West 1'}, 'Anees Mukhtar': {nan, 'West 2', 'West 1', 'North', 'South'}, 'Aaruni Sinha': {nan, 'North', 'West 1'}, 'Ankita': {'South', 'West 1'}, 'Puneet Shukla': {'North'}, 'Taukheer Ahmed': {nan, 'South'}, 'Karn Sharma': {nan, 'South, North', 'South, West 1', 'West 1', 'West 2', 'North', 'North, East', 'East', 'South', 'North, West 1'}, 'Chris Shin': {nan, 'North', 'West 2', 'West 1'}, 'Arun Sharma': {nan, 'North', 'East', 'South'}, 'Dixiata Sharma': {'South'}, 'CS/Amazon/Other': {'North', 'South', 'West 1'}, 'Ayan': {'East', 'West 1'}, 'Prasad Gosavi': {'North', 'West 1'}, 'Shubham Tonk': {nan, 'South, North', 'West 1', 'North', 'East', 'South'}}

In [70]:
#Mohammad Afnan,Dixiata Sharma,Gurraj Singh,Abhinanda Ghosh, Nasir,Puneet Shukla,Neelabh Kashyap

people=set()
people.add('Mohammad Afnan')
people.add('Dixiata Sharma')
people.add('Gurraj Singh')
people.add('Abhinanda Ghosh') 
people.add('Nasir')
people.add('Puneet Shukla')
people.add('Neelabh Kashyap')

people

{'Abhinanda Ghosh',
 'Dixiata Sharma',
 'Gurraj Singh',
 'Mohammad Afnan',
 'Nasir',
 'Neelabh Kashyap',
 'Puneet Shukla'}

In [84]:
count=0
for i in range(len(csv['Territories'])):
    if csv['Sales Person'][i] in people:
        csv['Territories'][i] = mapping[person]
        count+=1
print(count)
#csv

91

In [83]:
print(len(csv))
# csv['Territories'].count(isnull())
print(csv['Territories'].count())
print(csv['Territories'].notna().sum() + csv['Territories'].isnull().sum())

7132
3961
7132

In [61]:
for person in csv['Sales Person']:
    if person in people:
        csv['Territories'] = mapping[person]
csv = csv.to_csv("tst1.csv")

TypeError: 'NoneType' object is not subscriptable

In [10]:
#한국말 있는지 확인
korean=[]
for row in csv['Full Name']:
    hangul=re.compile('[ㄱ-ㅎ|가-힣]+')
    #print(hangul.findall(row))
    name=hangul.findall(row)
    if len(name)!=0:
        korean.append(name)
korean

[]

In [13]:
csv.to_csv(save_as)

In [ ]:
#1.sales man이 NaN값인 row를 찾는다.

#2.Customer Owner ID값을 통해 빈값을 채워 넣는다.(Customer Owner ID:"Sales Person"으로의 dict생성필요)
#.territory값이 None값인 row를 찾는다.